<!doctype html>
<html>

<head>
    <%- include("../partials/resourses/styles-bootstrap") %>
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <title><%=identity.title %></title>
</head>

<body>
    <div class="container-fluid">
            <%- include("../partials/backend/header") %>    
            <main class="row">
                <div class="col-2">
                    <%- include("../partials/backend/leftnav") %>
                </div>
                <div class="col-10">
                   <h2>Add new page </h2>
                  <hr>
                  <form action="/dashboard/pages/create" method="post" class="han-usrforms page-forms">
                        <div class="form-group">    
                            <label>Title</label>
                            <input class="form-control" type="text" name="title" id="page-title">
                        </div>
                        <div class="form-group">    
                            <label>Slug</label> <div class="small"><input type="checkbox" checked id="page-autegenerate"> Autogenerate slug from title ? </div>
                            <input class="form-control" type="text" name="slug" id="page-slug">
                        </div>
                        <div class="form-group">    
                            <label>Text</label>
                            <textarea id="summernote" class="form-control" name="text"></textarea>
                        </div>
                        <input type="hidden" name="authorId" value=1>
                        <input type="submit" class="btn btn-primary">
                    </form> 
                </div>
            </main>
    </div>

    <%- include("../partials/resourses/scripts-bootstrap") %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>
    <%- include("../partials/backend/footer") %>
</body>

</html>